<header>
	<div class="row">
		<div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-4 col-xs-push-8">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="#">
						<img class="img" src="assets/img/me.png">
					</a>
				</div>
				<div class="card-content">
					<h6 class="category text-gray">{{ site.author.jobtitle }}</h6>
					<h4 class="card-title">{{ site.author.name }}</h4>
					<p class="description">
						{{ site.author.story }}
					</p>
				</div>
				<div class="card-footer">
					<ul class="header-info list-unstyled text-left">
						<li><i class="fa fa-phone" aria-hidden="true"></i> {{ site.author.phone }}</li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.author.email }}</li>
						<li><i class="fa fa-globe" aria-hidden="true"></i><a href="{{ site.author.blog }}">{{ site.author.blog }}</a></li>
						<li><i class="fa fa-github" aria-hidden="true"></i><a href="{{ site.author.github }}">{{ site.author.github }}</a></li>
					</ul>
				</div>
			</div>

			<div class="card card-tags">
				<div class="card-header card-header-icon" data-background-color="green">
					<i class="material-icons">code<h6 class="card-title">Tags</h6></i>
				</div>
				<div class="card-content">
					<ul>						
						<li>Architecture</li>
						<li>AWS</li>
						<li>.NET Core</li>
						<li>Serverless</li>
						<li>REST API</li>
						<li>.NET</li>						
						<li>Kubernetes</li>
						<li>JAVA</li>
						<li>Docker</li>						
						<li>DevOps</li>
						<li>Jenkins</li>						
						<li>Software Craftsmanship</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-8 col-xs-pull-4">
			<div class="card card-skills">
				<div class="card-header card-header-icon" data-background-color="green">
					<i class="material-icons">done_all<h6 class="card-title">SKILLS</h6></i>					
				</div>
				<div class="card-content">					
					<table class="table">
						<tbody>
							{% include skill.html skillname=".Net" size="100" color="purple" %}
							{% include skill.html skillname="Crafts" size="85" color="green" %}
							{% include skill.html skillname="DevOps & Cloud" size="100" color="red" %}							
							{% include skill.html skillname="WebApi" size="80" color="blue" %}							
							{% include skill.html skillname="Web" size="70" color="orange" %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="card card-metiers">
				<div class="card-header card-header-icon" data-background-color="green">
					<i class="material-icons">portrait<h6 class="card-title">PROFIL</h6></i>
				</div>
				<div class="card-content">
					{% include profil.html category="profil" color="purple" title="PROFIL" subtitle="" %}
				</div>
			</div>

			<div class="card card-metiers">
				<div class="card-header card-header-icon" data-background-color="green">
					<i class="material-icons">verified<h6 class="card-title">CERTIFICATIONS</h6></i>
				</div>
				<div class="card-content">
					{% include certifications.html category="certifications" color="purple" title="CERTIFICATIONS" subtitle="" %}
				</div>
			</div>
		</div>
	</div>
</header>

